<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}">
        <meta name="theme-color" content="#b35427">
    </head>
    <body>
        <h3>Orders</h3>   
        
        </thead>
        <div class="container">

       
            {% for row in rows %}  
                    {% if row["status"] == "red" %}
                    <div class="box" id="box" style="background-color: red;  background-color: rgba(255, 0, 0, 0.7); backdrop-filter: blur(20px) brightness(105%); -webkit-backdrop-filter: blur(20px) brightness(105%); ">
                        {{row["token_no"]}}
                    </div>
                    {% elif row["status"] == "yellow" %}
                    <div class="box" id="box" style="background-color: red;  background-color: rgb(255, 234, 0); backdrop-filter: blur(20px) brightness(105%); -webkit-backdrop-filter: blur(20px) brightness(105%); ">
                        {{row["token_no"]}}
                    </div>
                    {% else %}
                    <div class="box" id="box" style="background-color: red;  background-color: rgb(0, 212, 39); backdrop-filter: blur(20px) brightness(105%); -webkit-backdrop-filter: blur(20px) brightness(105%); ">
                        {{row["token_no"]}}
                    </div>
                    {% endif %}
            {% endfor %} 
        </div>
    </body>

</html>